@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Lora', serif;
    height:100vh;
}
.navbar{
    background-color: rgb(251, 251, 251);
    box-shadow: 0 0 10px rgb(99, 99, 245);
}
.show{
    display:flex;
    flex-direction: column;
    position:absolute;
    top:100px;
    width:90%;
    left:50%;
    transform: translateX(-50%);
    padding:20px;
    border-radius: 10px;
}
.show a{
    display:flex;
    align-items: center;
    color:white;
    padding:10px 0;
    font-size:1.1rem;
}
.show a .i{
    margin-right:10px;
}
a.active{
    display:hidden;
    color:blue;
    font-size:1.2rem;
}
ul li{
    padding:10px 0;
}
.services p{
    padding:10px 0;
    font-size: 1rem;
}
::placeholder{
    font-style: italic;
}
.contact input{
    border: 1px solid rgb(229, 229, 229);
    width:100%;
    padding:6px;
    outline: 0;
}
.input{
    height:53px;
    margin:10px 0;
}
.input p{
    font-size:12px;
    color:red;
    font-style: italic;
}
.about{
    margin-top:-50px;
}
.project{
    margin-top:-60px;
}
.contact-head{
    margin-bottom:-130px;
    margin-top:60px;
}

